// Variables de Colores
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 95%);

// Neutros
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);
$light-gray:hsl(0, 0%, 80%);

$font-family-display: 'DM Serif Display', serif;
$font-family-body: 'Karla', sans-serif;


$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;